# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
android/app/build/
android/build/
ios/build/
ios/Pods/

# Expo
.expo/
.expo-shared/

# Metro
.cache/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# Misc
*.log
*.tmp

# Test coverage
coverage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Gradle
android/.gradle/
android/local.properties

# Misc
*.keystore
